.main_text_about{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about_container{
    margin: 0 300px;
    font-size: 1.5em;
    height: 500px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8;
    padding-top: 40px;
}

/* Mobile */
@media screen and (max-width: 600px) {
    .about_container{
        margin: 0;
    }
}