.bottom{
    &__text{
        text-align: center;
        &--blue{
            color: #0a66c2;
            cursor: pointer;
        }
    }
}

.login{
    &__error{
        color: #d11124
    }
    &__box{
        width: 400px;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 4rem;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem;
    }
}