.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product_item{
    padding: 20px;
}