.button {
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;

  &--primary {
    background-color: #6ec955;
    border: 0.25rem solid #6ec955;
  }

  &--secondary {
    background-color: #3e879e;
    border: 0.25rem solid #3e879e;
  }

  &--medium {
    padding: 0 1.75rem;
    height: 2.875rem;
  }
}
