.cart {
  display: flex;
  max-width: 81.25rem;
  margin: 0 auto;
  text-align: left;
  font-family: Roboto, sans-serif;

  &__subtotal {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: Roboto, sans-serif;
  }

  &__bottomContainer {
    text-align: center;
    padding-bottom: 2rem;
  }
}

.recap-area {
  background-color: #E2EFF3;
  width: 25%;
  border-radius: 10px;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 2rem;
}

.subtotal-container {
  display: flex;
  justify-content: space-evenly;
}

.button-container {
  display: flex;
  justify-content: center;
}
