.productDetail__container--left{

    text-align: center;
}

.productDetail__img{
    width: 100%;
    max-width: 30rem;
}

.productDetail__container--right{
    padding: 0 0.5rem 0.5rem;
    font-family: Roboto, sans-serif;
}

.productDetail__description{
    line-height: 1.5;
    font-weight: 400;
    margin-right: 8rem;
}

.productDetail__quantity{
    border: 1px solid #2c2e2f;
    border-radius: 5px;
    padding: 0.9rem;
    width: 3rem;
}

.bottomSpacer__1rem{
    margin-bottom: 2rem;
}

@media screen and (min-width: 750px) {
    .productDetail__container{
        display: flex;
    }

    .productDetail__container--left{
        width: 50%;
        height: 100%;
        text-align: center;
    }

    .productDetail__container--right{
        width: 50%;
        margin: 1rem;
    }

    .productDetail__img{
        margin: 1rem;
    }
}