form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.input {
  &__field {
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px transparent solid;
    border-color: #d9d9d9;
  }
}

.content {
  margin-top: 0.5rem;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 5px;
  color: #545454;
  padding: 1rem;
  border-color: #d9d9d9;

  &__spacer {
    display: flex;
    justify-content: space-between;
  }
}

.shipping {
  margin: 1rem 1rem 0;

  &__method {
    margin-top: 3rem;
  }

  &__container {
    height: 41rem;
    font-family: Roboto, sans-serif;
  }
}

.radio-btn {
  &__spacer {
    &--right {
      margin-right: 1rem;
    }
  }
}

.btn {
  background-color: #3e879e;
  border: 0.25rem solid #3e879e;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0 1.75rem;
  height: 2.875rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}

.return {
  border: none;
  background: white;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.svg__dimension {
  height: 10px;
  width: 15px;
}
