form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.topBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    &__field{
        padding: 0.75rem;
        margin: 0.5rem;
        border-radius: 5px;
        border: 1px transparent solid;
        border-color: #d9d9d9;
    }
}

//form.... form__inputs...form__sumbit