.footer{
    background-color: #30436B;
    padding: 4rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__items{
        display: flex;
        flex-direction: column;
        align-items: center;

        a{
            color: #fff;
            text-decoration: none;
            margin-bottom: 0.5rem;
            font-family: Roboto, sans-serif;
        }

        > h2{
            color: #fff;
            padding-bottom: 0.5rem;
            font-family: Roboto, sans-serif;
        }
    }
}

.socialMedia{
    &__link{
        margin-bottom: 0.75rem;
        >a{
            color:white;
            padding: 0.5rem;
        }
    }
}

.website{
    &__rights{
        display: flex;
        justify-content: center;
        align-items: center;

        &--white{
            color: white;
        }
    }
}

.upper_section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5rem;
    max-width: 62.5rem;
  }
  
  .bottom_section{
    border-top: 0.125rem solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    max-width: 62.5rem;
  }

  @media screen and (max-width: 600px) {
    .footer{
        padding: 1rem 0 1rem 0;

        &__items{
            align-items: baseline;
            padding-left: 2rem;
            padding-bottom: 2rem;
        }
    }
  
    .upper_section{
      flex-direction: column;
      padding-bottom: 1rem;
    }
    .bottom_section{
      padding-top: 1rem;
    }
  }
  
  @media screen and (max-width: 1360px) {
    .footer{
      display: block;
    }
    .upper_section{
      max-width: none;
    }
    .bottom_section{
      max-width: none;
    }
  }