.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    padding-bottom: 50px;
}

.product_item{
    padding: 20px;
}

.product_header{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    
}

.filter_container{
    float: right;
    padding: 4px;
}
