.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 3.125rem;
}

.product_item{
    padding: 1.25rem;
}

.product_detail_link{
    text-decoration: none;
    color: black;
}

.filter_container{
    float: right;
    padding: 0.25rem;
}

.filter_row{
    width: 100%;
}

