.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.product_item{
    padding: 20px;
}

.filter_container{
    float: right;
    padding: 4px;
}
