table {
  margin: 1rem 0;
  width: 60%;
  border-color: grey;
  border-spacing: 0 1.25rem;
  table-layout: auto;
}

.table__product {
  display: flex;
  align-items: center;
}

.table__remove-btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  padding-left: 1rem;
}


td:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child {
  border-radius: 0 10px 10px 0;
}

td {
  background-color: #FAFAFA;
}

.cart__img {
  width: 4rem;
  margin-right: 1rem;
  margin-left: 2rem;
}

.icon__cursor {
  cursor: pointer;
}

@media only screen and (max-width: 46.85rem) {
  td::before {
    content: attr(data-label);
    float: left;
    padding-right: 10px;
    text-align: center;
  }

  table {
    display: flex;
    flex-direction: column;
  }

  thead {
    display: none;
  }

  tr {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  td {
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  table th,
  table td {
    border-bottom: none;
  }
}
