.top-page {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-left: 2rem;
    max-width: 18rem;

    &__paragraphe {
      margin-bottom: 1rem;
      width: 80%;
      word-break: break-word;
    }
  }

  &__img {
    max-width: 60%;
    height: 100%;
    width: 100%;
  }
}

.wave {
  position: relative;

  &__img {
    position: absolute;
    width: 100%;
    top: 0;
  }
}

.mid-page {
  background: linear-gradient(#267ff1, #0a224f);
  padding-top: 8rem;

  &__img {
    &-size {
      height: 20rem;
    }
  }

  &__header {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__paragraphe {
    color: white;
    padding: 0 3rem;
    word-break: break-word;
    max-width: 60%;
    letter-spacing: 1px;
    text-align: center;
  }
}

.bottom {
  &__spacer {
    margin-bottom: 0.625rem;
  }
}

.shop {
  &__btn {
    background-color: #6ec955;
    border: 0.25rem solid #6ec955;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0 1.75rem;
    height: 2.875rem;
    width: 8rem;
    font-size: 1rem;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    color: white;
  }
}

@keyframes ani {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes leftToRight {
  from {
    margin-right: 62.5rem;
  }

  to {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .container__left {
    padding: 1.875rem 0 0 !important;
    height: 9.375rem;
  }
}

@media screen and (max-width: 992px) {
  .cover {
    height: 40vh;
  }

  .cover__quote {
    font: 1.4rem Futura;
    animation: none;
  }

  .column-reverse {
    flex-direction: column-reverse;
  }

  .container__right {
    width: auto;
  }

  .container__left {
    width: 80%;
    font: 1.5rem Meta, sans-serif;
    text-align: center;
    padding: 3.125rem;
  }
}

@media screen and (min-width: 2000px) {
  .cover {
    height: 40vh;
  }

  .cover_quote {
    font: 1.4rem Futura;
    animation: none;
  }

  .center {
    flex-direction: column-reverse;
  }

  .container__right {
    width: auto;
  }

  .container__left {
    width: 80%;
    font: 1.5rem Meta, sans-serif;
    text-align: center;
    padding: 1rem;
  }
}
