*{
    margin:0;
    padding:0;
}

.row_1_left_side{
    width: 50%;
    font: 1.8rem Meta, sans-serif;
}

.row_1_right_side{
    height: auto;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
}

.row_2_left_side{
    height: 31.25rem;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
    background-color: #ebeeed;
    background-image: linear-gradient(#ebeeed, #dfdfdf);
}

.row_2_right_side{
    height: 31.25rem;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem;
    font: 1.8rem Futura;
    background-color: #ebeeed;
    background-image: linear-gradient(#ebeeed, #dfdfdf);
}

.bottom_img{
    width: 100%;
    height: auto;
    max-height: 56.25rem;
    text-decoration: none;
    display: block;
}

.right_side_row_img{
    height: 100%;
    width: 100%;
}

.cover{
    background: no-repeat;
    height: 100vh;
    background-size: 100% auto;
    animation: ani 3s ease;
}

.cover_quote{
    font: 2rem Futura;
    text-transform: uppercase;
    max-width: 43.75rem;
    height: 50%;
    animation: leftToRight 2.5s ease;
    color: white;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_btn{
    background-color: #252525;
    border: 0.25rem solid #252525;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0 1.75rem;
    height: 2.875rem;
    font-size: 1rem;
    cursor: pointer;
}

.shop_link{
    text-decoration: none;
    color: white;
}

.bottom_spacer{
    margin-bottom: 0.625rem;
}

.homepage_navbar_logo{
    color: black;
    justify-self: start;
    margin-left: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

@keyframes ani {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes leftToRight {
    from{
        margin-right: 62.5rem;
    }
    to{
        margin-right: 0px;
    }
}

@media screen and (max-width: 480px) {
    .row_1_left_side{
        padding: 1.875rem 0 0 0 !important;
        height: 9.375rem;
    }
}

@media screen and (max-width: 992px) {
    .cover{
        height: 40vh;
    }
    .cover_quote{
        font: 1.4rem Futura;
        animation: none
    }
    .center{
        flex-direction: column-reverse;
    }
    .row_1_right_side{
        width: auto;
    }
    .row_1_left_side{
        width: 80%;
        font: 1.5rem Meta, sans-serif;
        text-align: center;
        padding: 3.125rem;
    }
}

@media screen and (min-width: 2000px) {
    .cover{
        height: 40vh;
    }
    .cover_quote{
        font: 1.4rem Futura;
        animation: none
    }
    .center{
        flex-direction: column-reverse;
    }
    .row_1_right_side{
        width: auto;
    }
    .row_1_left_side{
        width: 80%;
        font: 1.5rem Meta, sans-serif;
        text-align: center;
        padding: 1rem;
    }
}