*{
    margin:0;
    padding:0;
}

.color{
    color: #111840;
    color: #2e4158;
    color: #1e3040;
    color: #a69258;
    color: #0d0d0d;
}

.row_1_left_side{
    width: 50%;
    font: 1.8rem Meta, sans-serif;
}

.row_1_right_side{
    height: auto;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
}

.row_2_left_side{
    height: 500px;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: #ebeeed;
    background-image: linear-gradient(#ebeeed, #dfdfdf);
}

.row_2_right_side{
    height: 500px;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font: 1.8rem Futura;
    background-color: #ebeeed;
    background-image: linear-gradient(#ebeeed, #dfdfdf);
}

.bottom_img{
    width: 100%;
    height: auto;
    max-height: 900px;
    text-decoration: none;
    display: block;
}

.right_side_row_img{
    height: 100%;
    width: 100%;
}

.cover{
    background: no-repeat;
    height: 100vh;
    background-size: 100% auto;
    animation: ani 3s ease;
}

.cover_quote{
    font: 2rem Futura;
    text-transform: uppercase;
    max-width: 700px;
    height: 50%;
    animation: leftToRight 2.5s ease;
    color: white;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_btn{
    background-color: #252525;
    border: 4px solid #252525;
    color: #fff;
    border-radius: 5px;
    padding: 0 28px;
    height: 45px;
    font-size: 1rem;
    cursor: pointer;
}

.homepage_navbar_logo{
    color: black;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

@keyframes ani {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes leftToRight {
    from{
        margin-right: 1000px;
    }
    to{
        margin-right: 0px;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .cover{
        height: 40vh;
    }
    .cover_quote{
        font: 1.4rem Futura;
    }
    .center{
        flex-direction: column-reverse;
    }
    .row_1_right_side{
        width: auto;
    }
    .row_1_left_side{
        width: 80%;
        font: 1.5rem Meta, sans-serif;
        text-align: center;
        margin-bottom: 10px
    }
}